/*body {
    background: #e2eaef;
    font-family: "Open Sans", sans-serif;
}*/
.contenedor-principal-carousel
{
    width:100%;
    height:100%;
   /* background-color:red;*/
    display:block;
}

.contenedor-leyenda-carousel
{
  /*  background-color:darkgoldenrod;*/
    height:30%;
}
.leyenda-carousel {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 3px 0 30px;
    padding-bottom:5px;
    /*margin-top: 5px;*/
    /* background-color: hotpink;*/
}

.contenedor-productos-carousel{
   /* background-color:forestgreen;*/
    display:flex;
    justify-content:center;
    align-items:center;
    height:70%;
    
}
.contenedor-botones
{
/*background-color: yellow;*/
/*width:4%;*/
margin:2px;
}
.btn-prev-carousel {
    
    height:44px;
    width:40px;
    background-color:#7ac400;
    margin:auto 0;
    border-radius:4px;
    opacity:0.8;
    color:white;
    z-index:1;
    border:0;
    transition:opacity .15s ease;
   
}
.btn-next-carousel {
    height: 44px;
    width: 40px;
    background-color: #7ac400;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
    color: white;
    z-index: 1;
    border: 0;
    transition: opacity .15s ease;
}



.leyenda-carousel::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #7ac400;
    left: 0;
    right: 0;
    bottom: 1px;
   
}

.contenedor-carousel {
    /* margin: 50px auto;
    padding: 0 70px;*/
    width:90%;
    /*background-color:blueviolet;*/
    
}

    .carousel .item {
        color: #747d89;
       /* min-height: 325px;*/
        text-align: center;
        overflow: hidden;
    }

    /*.carousel */.thumb-wrapper {
        padding: 25px 15px;
        background: #fff;
        border-radius: 10px;
        text-align: center;
       /* position: relative;*/
        /*box-shadow: 0 2px 3px rgba(0,0,0,0.2);*/
    }
    .img-box
    {
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .img
    {
        height:100%;
        width:100%;
        background-repeat:no-repeat;
        object-fit:contain;
    }


    .carousel .item .img-box {
        height: 120px;
        margin-bottom: 20px;
        width: 100%;
       /* position: relative;*/
    }

    .carousel .item img {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
      /*  position: absolute;*/
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .carousel .item h4 {
        font-size: 18px;
    }

    .carousel .item h4, .carousel .item p, .carousel .item ul {
        margin-bottom: 5px;
    }

    .thumb-content .btn {
        color: #7ac400;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        background: none;
        border: 1px solid #7ac400;
        padding: 6px 14px;
        margin-top: 5px;
        line-height: 16px;
        border-radius: 20px;
    }

        .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
            color: #fff;
            background: #7ac400;
            box-shadow: none;
        }

        .carousel .thumb-content .btn i {
            font-size: 14px;
            font-weight: bold;
            margin-left: 5px;
        }

    .carousel .item-price {
        font-size: 20px;
        padding: 2px 0;
    }

        .carousel .item-price strike {
            opacity: 0.7;
            margin-right: 5px;
        }

.carousel-control-prev, .carousel-control-next {
    height: 44px;
    width: 40px;
    background: #7ac400;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
}

    .carousel-control-prev:hover, .carousel-control-next:hover {
        background: #78bf00;
        opacity: 1;
    }

    .carousel-control-prev i, .carousel-control-next i {
        font-size: 36px;
       /* position: absolute;*/
        top: 50%;
        display: inline-block;
        margin: -19px 0 0 0;
        z-index: 5;
        left: 0;
        right: 0;
        color: #fff;
        text-shadow: none;
        font-weight: bold;
    }

    .carousel-control-prev i {
        margin-left: -2px;
    }

    .carousel-control-next i {
        margin-right: -4px;
    }

.carousel-indicators {
    bottom: -50px;
}

    .carousel-indicators li, .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 50%;
        border: none;
    }

    .carousel-indicators li {
        background: rgba(0, 0, 0, 0.2);
    }

        .carousel-indicators li.active {
            background: rgba(0, 0, 0, 0.6);
        }

.nombre_flotante{
    display:none;
}
.wish-icon:hover  .nombre_flotante {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 12px;
    color: black;
    z-index: 2;
    position:absolute;
    word-break:break-all;
    text-align:justify;
    width:190px;
    height:300px;
    overflow-x:hidden;
    
    padding:5px;
    background-color:white;
   
   
    
}
.carousel .wish-icon {
    /* position: absolute;*/
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
}

    .carousel .wish-icon .fa-heart {
        color: #ff6161;
    }

.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

.descripcion
{
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    height:100px;
    font-size:14px !important;
    color:black;
}

.estrella-color
{
    color:gold;

}


.card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
}

.card-group > .card + .card {
    margin-left: 0;
    border-left: none;
}

.card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.carousel-inner-movil {
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: flex;
    max-width: 100vw;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

    .carousel-inner-movil::-webkit-scrollbar {
        display: none;
    }

.tarjeta-producto {
    /*flex-basis: 35% !important;*/
    min-width: 200px;
    margin-right: 15px;
    border-radius: 10px !important;
   /* border-left-style: outset!important;
    border-left-color: gainsboro!important;*/
}

.carousel-inner-movil .tarjeta-producto:first-child {
    margin-left: 15px;
}

.contenedor-sin-margenes {
    margin-left: var(--bs-gutter-x,-.75rem);
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

@media(min-width:768px){
    .contenedor-sin-margenes {
        margin-left: 0
    }
}

.card {
    border: 2px solid rgba(0,0,0,.125)
}