{% macro carouselProductos(titulo, informacionCarousel, esMovil,contador) %}
<div class="contenedor-principal-carousel">
	<div class="contenedor-leyenda-carousel">
		{#@if(@informacionCarousel!=null && @informacionCarousel.productosCarousel.Count>0)#}
		{% if informacionCarousel is not none and informacionCarousel.productosCarousel|length > 0  %}
			{#@foreach(getsetProducto producto in informacionCarousel.productosCarousel)#}
			{# for producto in informacionCarousel.productosCarousel #}
				{# <h2 class="leyenda-carousel">Productos <b>@producto.tituloProductos</b></h2> #}
				<h2 class="leyenda-carousel">Productos <b>{{informacionCarousel.productosCarousel[0].tituloProductos}}</b></h2>
			{# endfor #}

		{% else %}
			<h2 class="leyenda-carousel">Productos <b>Destacados</b></h2>
		{% endif %}
	</div>

	{#@if(!esMovil)#}
	{% if not esMovil %}
		{#//Version de escritorio#}
		<div class="contenedor-productos-carousel">

			<!-- Carousel controls -->
			<div class="contenedor-botones">
				<button class=" btn-prev-carousel" data-bs-target="#myCarousel{{contador}}" data-bs-slide="prev">
					<i class="fa fa-angle-left"></i>
				</button>
			</div>

			<div id="myCarousel{{contador}}" class="carousel contenedor-carousel slide" data-bs-interval="false">
				<div class="carousel-inner">
					{#@if(informacionCarousel!=null)#}
					{% if informacionCarousel is not none %}
						{% set itemAbierto = false %}
						{# @foreach(getsetProducto producto in informacionCarousel.productosCarousel) #}
						{% for producto in informacionCarousel.productosCarousel %}
							{#if(contador==0)#}
							{% if(loop.index-1==0) %}

								<div class="item carousel-item active">
									<div class="row" style="padding:5px; justify-content: center;">
									{% set itemAbierto = true %}

							{% else %}
								{#if(contador%@numeroTarjetasPorPagina==0)#}
								{% if((loop.index-1)%3==0) %}
									<div class="item carousel-item">
										<div class="row">
										{% set itemAbierto = true %}
								{% endif %}
							{% endif %}

							<div class="col-sm-4">
								<div class="thumb-wrapper card">

									<a href="/producto?idProducto={{producto.idProducto}}">
										<div class="img-box">
											<img src="http://bodegavalleverde.ddns.net/Imagenes/Productos/{{producto.codigoBarras}}.png" onerror="this.src='../static/wwwroot/Resources/icono.png';" class="img-fluid img "  alt="{{producto.nombreProducto}}">
										</div>
									</a>
									<div class="thumb-content">
										<a href="/producto?idProducto={{producto.idProducto}}">

											<h4 class="descripcion">
												<span class="wish-icon">
												<i class="fa-solid fa-circle-info"></i>
												<h5 class="nombre_flotante shadow border border-secondary">{{producto.descripcion}}</h5>
												</span>
												{{producto.nombreProducto}}
											</h4>
										</a>
										<div class="star-rating">
											<ul class="list-inline">
												{#@for(int i=0;i<@producto.puntuacion;i++)#}
												{% for x in range(producto.puntuacion) %}
													<li class="list-inline-item"><i class="fa fa-star estrella-color"></i></li>
												{% endfor %}
												{#@for(int e=0;e<(5-@producto.puntuacion);e++)#}
												{% for x in range(5 - producto.puntuacion) %}
													<li class="list-inline-item"><i class="fa fa-star"></i></li>
												{% endfor %}

											</ul>
										</div>
										{#@if(@producto.precioOriginal!=@producto.precioDescuento)#}
										{% if producto.precioOriginal != producto.precioDescuento %}
											<div class="position-relative">
												<p class=""><strike>{{"${:,.2f}".format(producto.precioOriginal) }}</strike></p>
												<p class="item-price"> <b>{{"${:,.2f}".format(producto.precioDescuento) }}</b></p>
											</div>
										{%else%}
											<p class="item-price"><b>{{"${:,.2f}".format(producto.precioOriginal) }}</b></p>
										{% endif %}
										{#@if(@usuario!=null)#}
										{% if informacionCarousel.usuario is not none %}
											<button class="btn btn-primary btn-sm agregar-carrito" type="button" onclick="AgregarAcarrito({{producto.idProducto}},{{informacionCarousel.usuario.IDUsuarioRegistrado}},'http://bodegavalleverde.ddns.net/Imagenes/Productos/{{producto.codigoBarras}}.png','{{producto.nombreProducto}}')">Añadir al carrito</button>
										{% else %}
											<button class="btn btn-primary btn-sm agregar-carrito" type="button" onclick="AgregarAcarrito({{producto.idProducto}}, null, 'http://bodegavalleverde.ddns.net/Imagenes/Productos/{{producto.codigoBarras}}.png','{{producto.nombreProducto}}')">Añadir al carrito</button>
										{% endif %}
									</div>
								</div>
							</div>

							{% if (loop.index % 3 == 0 or loop.index==informacionCarousel.productosCarousel|length)%}

								 </div>
								</div>
								{% set itemAbierto = false %}
							{% endif %}

						{% endfor %}
						{% endif %}

					{%if(itemAbierto)%}

						 </div>
						</div>
						{% set itemAbierto = false %}
					{% endif %}


				</div>


			</div>

			<!-- Carousel controls -->
			<div class="contenedor-botones">
				<button class=" btn-next-carousel" data-bs-target="#myCarousel{{contador}}" data-bs-slide="next">
					<i class="fa fa-angle-right"></i>
				</button>
			</div>

		</div>


	{% else %}

		//Version movil del carousel
		<div class="container contenedor-sin-margenes"> @*contenedor*@
			<div class="carousel-inner-movil">
				{# @if(informacionCarousel!=null) #}
				{% if informacionCarousel is not none %}

				{% for producto in informacionCarousel.productosCarousel %}
				{# @foreach(getsetProducto producto in informacionCarousel.productosCarousel) #}

					<div class="card tarjeta-producto"> @*producto/tarjeta*@
						<div class="thumb-wrapper">


							<a href="/producto?idProducto={{producto.idProducto}}">

								<div class="img-box">

									{# @if (producto.urlsImagenes.Count > 0) #}
									{% if producto.urlsImagenes|length > 0 %}
										<img src="{{producto.urlsImagenes[0]}}" class="img-fluid img "  alt="{{producto.nombreProducto}}">
									{% else %}
										<img  src="../static/wwwroot/Resources/imgDefault.png" class="img-fluid img"  alt="{{producto.nombreProducto}}">
									{% endif %}
								</div>
							</a>
							<div class="thumb-content">
								<!-- <a asp-controller="Inicio" asp-action="Producto" asp-route-idProducto="@oben.Encrypt( @producto.idProducto )"> -->
								<a href="/producto?idProducto={{producto.idProducto}}" >
									<h4 class="descripcion">
										<span class="wish-icon">
										<i class="fa-solid fa-circle-info"></i>
										<h5 class="nombre_flotante shadow border border-secondary">{{producto.descripcion}}</h5>
										</span>
										{{producto.nombreProducto}}
									</h4>
								</a>
								<div class="star-rating">
									<ul class="list-inline">
										{# @for(int i=0;i<@producto.puntuacion;i++) #}
										{% for x in range(producto.puntuacion) %}
											<li class="list-inline-item"><i class="fa fa-star estrella-color"></i></li>
										{% endfor %}

										{# @for(int e=0;e<(5-@producto.puntuacion);e++) #}
										{% for x in range(5-producto.puntuacion) %}
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
										{% endfor %}

									</ul>
								</div>
								<p class="item-price"><strike>${{producto.precioOriginal}}</strike> <b>${{producto.precioDescuento}}</b></p>

								{# @if(@usuario!=null) #}
								{% if informacionCarousel.usuario is not none %}
									<button class="btn btn-primary btn-sm agregar-carrito" type="button" onclick="AgregarAcarrito({{producto.idProducto}},{{informacionCarousel.usuario.IDUsuarioRegistrado}},'{{producto.urlsImagenes[0]}}','{{producto.nombreProducto}}')">Añadir al carrito</button>
								{% else %}
									<button class="btn btn-primary btn-sm agregar-carrito" type="button" onclick="AgregarAcarrito({{producto.idProducto}}, null, '{{producto.urlsImagenes[0]}}','{{producto.nombreProducto}}')">Añadir al carrito</button>
								{% endif %}
							</div>
						</div>
					</div>

				{% endfor %}
				{% endif %}

			</div>
		</div>
	{% endif %}
</div>

{% endmacro %}