{% from 'totalesCarrito.html' import totalesCarrito with context %}

{% macro carrito(productosCarrito, totalCarrito, datosUsuario) %}

 <section class="h-100  seccion-carta-carrito">

        <div class="div-carta-carrito-leyenda" >
            <h5 class="font-weight-bold">Productos en el carrito</h5>
        </div>


        <div class="div-carta-carrito-items ">
            <div class="dropdown-divider"></div>
            {#@if(@productosCarrito.Count>0)#}
            {% if productosCarrito|length > 0 %}
                {#@foreach (getsetProductoCarrito producto in productosCarrito)#}
                {% for producto in productosCarrito %}
                      <div style="" class="div-carta-carrito-item">

                          <div class="contenedor-1-item">
                              <div class="contenedor-imagen-item m-2">
                                  <img src="../static/wwwroot/Resources/Productos/089826001415.png" class="item-imagen-producto"/>
                              </div>
                          </div>

                          <div class="contenedor-2-item">
                              <p class="item-informacion-parrafos"><strong>{{producto.nombre}}</strong></p>

                              <p class="item-informacion-parrafos">{{producto.descripcion}}</p>
                          </div>

                          <div class="contenedor-3-item">

                              <div class="contenedor-item-precio">
                                    {#@if (@producto.precioOriginal != @producto.precioPromocion)#}
                                      {% if (producto.precioOriginal != producto.precioPromocion) %}
                                          <p class="item-informacion-parrafos leyenda-precio-total"><strike >${{producto.precioOriginal}}</strike></p>
                                      {% endif %}
                                  <p class="item-informacion-parrafos leyenda-precio-total"><strong>${{producto.precioPromocion}}</strong></p>
                              </div>

                              <div class="contenedor-cantidad-input-botones">
                                  <div class="contenedor-restar">

                                      <button class="botones-cantidad-izq " onclick="RestarCantidadC({{producto.indice}},{{producto.codigoBarras}},{{producto.idProducto_Carrito}},{{datosUsuario.IDUsuarioRegistrado}})"><i class="fas fa-minus"></i></button >
                                  </div>
                                  <div class="contenedor-input-cantidad">
                                      <input id="cantidadCF {{producto.indice}}" name="cantidadCF {{producto.indice}}" class="input-cantidad" type="number" value="{{producto.cantidad}}" min="0" onkeyup="ValidarCantidadIngresadaC({{producto.indice}},{{producto.codigoBarras}},event.keyCode,{{producto.idProducto_Carrito}},{{datosUsuario.IDUsuarioRegistrado}})"/>
                                  </div>
                                  <div class="contenedor-sumar">
                                      <button  class="botones-cantidad-der"> <i class="fas fa-plus" onclick="AumentarCantidadC({{producto.indice}},{{producto.codigoBarras}},{{producto.idProducto_Carrito}},{{datosUsuario.IDUsuarioRegistrado}})"> </i></button>
                                  </div>
                              </div>
                               <div class="contenedor-item-precio">
                                    <h6  class="precio-total" style="">Total: </h6>
                                    <p class="item-informacion-parrafos leyenda-precio-total" ><strong id="precioTC {{producto.indice}}">${{producto.precioPromocion}}</strong></p>
                              </div>


                      </div>
                      <div class="contenedor-4-item">

                          <div class="contenedor-item-botones-eliminar">
                              <i class="fa-solid fa-trash-can boton-eliminar-producto" onclick="EliminarProductoCarritoC({{producto.idProducto_Carrito}})"></i>
                          </div>
                      </div>

                  </div>
                  <div class="dropdown-divider"></div>
              {%endfor%}
        {%else%}

            <div class="jumbotron jumbotron-fluid">
                <div class="container contenedor-carrito-vacioC">
                <h1 class="display-4 texto-carrito-vacioC">Tu carrito esta vacio</h1>
                </div>
            </div>
        {% endif %}

        </div>

        <div  class="div-carta-carrito-total" >
             <div id="totales" name="totales" >
                {#@(await Component.InvokeAsync("TotalesCarrito",@obj.totalCarrito))#}
                 {{totalesCarrito(totalCarrito)}}
            </div>

            {#if(@datosUsuario!=null)#}
            {% if datosUsuario is not none %}

                <a name="btnVerCarritoCompleto" id="btnVerCarritoCompleto" type="button" class="btn btn-primary btn-carrito-completo" asp-controller="Venta" href="carritoUsuario">Ir a carrito</a>
            {%else%}

                <a name="btnVerCarritoCompleto" id="btnVerCarritoCompleto" type="button" class="btn btn-primary btn-carrito-completo" asp-controller="Sesion" href="iniciarSesion">Ir a carrito</a>
            {% endif %}
        </div>
    </section>

{% endmacro %}