{% macro contenedorUsuario(sesionIniciada) %}
    {#@if (usuario != null)#}
    {% if(sesionIniciada) %}
        <div class="btn-group contenedor-user">
            <a href="#" data-bs-toggle="dropdown" class=" nav-link dropdown-toggle contenedor-icono-letra" data-bs-auto-close="outside">
                <div class="contenedor-icono-usuario">
                    <i class="fa-solid fa-user icono" alt="Avatar"></i>
                </div>
                <div class="contenedor-nombre-usuario">
                    {# @if (totalesBadgeFlotantes.totalNotificaciones < 100) #}
                    {% if(100<100) %}
                        {#<b class="caret">@usuario.Nombre <span class="badge color-oscuro" style="color: white;border-radius: 15px; margin-left:5px;" >@totalesBadgeFlotantes.totalNotificaciones</span> </b>#}
                    <b class="caret">Usuario1 <span class="badge color-oscuro" style="color: white;border-radius: 15px; margin-left:5px;" >4</span> </b>
                    {% else %}
                         {#<b class="caret">@usuario.Nombre <span class="badge color-oscuro" style="color: white;border-radius: 15px; margin-left:5px;" >99+</span> </b>#}
                    <b class="caret">Usuario1 <span class="badge color-oscuro" style="color: white;border-radius: 15px; margin-left:5px;" >99+</span> </b>
                    {% endif %}
                </div>
            </a>

            <div class="dropdown-menu div-flotante-usuario">
                <a class="dropdown-item letra-opciones-nav" name="idInputPerfilUsuario" id="idInputPerfilUsuario"  asp-area="" asp-controller="Sesion" href="perfilUsuario"><i class="fa-regular fa-address-card"></i> Mi perfil</a>
            {#@if (totalesBadgeFlotantes.totalFavoritos < 100)#}
            {% if(100<100) %}

                <a class="dropdown-item letra-opciones-nav" asp-controller="Venta" href="carritoUsuario" asp-route-Favoritos="true"><i class="fa-regular fa-heart"></i> Favoritos <span class="badge color-oscuro" style="color: white;border-radius: 15px; margin-left:5px;" >@totalesBadgeFlotantes.totalFavoritos</span></a>

            {%else%}

                <a class="dropdown-item letra-opciones-nav" asp-controller="Venta" href="carritoUsuario" asp-route-Favoritos="true"><i class="fa-regular fa-heart"></i> Favoritos <span class="badge color-oscuro" style="color: white;border-radius: 15px; margin-left:5px;" >99+</span></a>

            {% endif %}

            {#@if(totalesBadgeFlotantes.totalComentarios<100)#}
            {% if(100<100) %}
            {#<a  class="dropdown-item letra-opciones-nav" asp-controller="Inicio" href="comentarios"><i class="fa-regular fa-comment-dots"></i> Comentarios <span class="badge color-oscuro" style="color: white;border-radius: 15px;margin-left:5px;" >@totalesBadgeFlotantes.totalComentarios</span></a>#}
                <a  class="dropdown-item letra-opciones-nav" asp-controller="Inicio" href="comentarios"><i class="fa-regular fa-comment-dots"></i> Comentarios <span class="badge color-oscuro" style="color: white;border-radius: 15px;margin-left:5px;" >50</span></a>
            {% else %}
                <a  class="dropdown-item letra-opciones-nav" asp-controller="Inicio" href="comentarios"><i class="fa-regular fa-comment-dots"></i> Comentarios <span class="badge color-oscuro" style="color: white;border-radius: 15px;margin-left:5px;" >99+</span></a>
            {% endif %}
            <a  class="dropdown-item letra-opciones-nav" asp-controller="Venta" href="historialCompras"><i class="fa-solid fa-clock-rotate-left"></i> Historial compras</a>
            <div class="dropdown-divider"></div>
                <a class="dropdown-item item-user-exit" name="idInputCerrarSesion" id="idInputCerrarSesion"  onclick="cerrarSesion()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Salir</a>
            </div>

        </div>
    {% else %}
        <div class="div-botones-sesion">
            <div >
                <a class="nav-link  letra-opciones-nav" asp-area="" asp-controller="Sesion" href="iniciarSesion">Ingresar</a>
            </div>

            <div>
                <a class="nav-link  letra-opciones-nav" asp-area="" asp-controller="Sesion" href="registrar">Registrar</a>
            </div>

        </div>
    {% endif %}

{% endmacro %}