
{% macro filtrosAcordeon(filtros) %}

<aside class="aside-filtro col vh-100">
    <div class="Contenedor-titulo-filtro">
        {# @if(filtros.Count>0) #}
        {% if filtros|length >0 %}

            <h5>{{filtros[0].nombreCategoria}}</h5>

        {% else %}

          <h5>Desconocido</h5>
        {% endif %}
    </div>
    <div class="accordion accordion-flush contenedor-todos-items">
    {# @for (var i = 0; i < filtros.Count; i++) #}
    {% for filtro in filtros %}
          {#string id="flush-collapse"+i; #}
         <div class="accordion-item contenedor-item">
                <div class="accordion-header categoria-principal">
                        <div class="boton-categoria" type="button" data-bs-target="#collapse{{filtro.id}}" aria-expanded="false" >
                            <a class="leyenda-categoria-principal" href="/productos?tipo={{filtro.tipoCategoria}}&numeroPagina=1&productosPag=10&{{filtro.idFiltro}}={{filtro.id}}">
                                {{filtro.nombre}}
                            </a>
                        </div>
                </div>
                {# @if (filtros[i].tieneSubFiltros) #}
                {% if (true) %}

                    <div id="collapse{{filtro.id}}" class="accordion-collapse collapse contenedor-subcategoria-item" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div id="cargando" class="text-center">
                            <div class="spinner-border text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <h4>Cargando...</h4>
                        </div>

                    </div>
                {% endif %}
         </div>
    {% endfor %}
    </div>

</aside>


{% endmacro %}