{% macro subMenuFlotante(departamentos, sNum) %}
{#@foreach (getsetDepartamento dep in departamentos)#}
{% for dep in departamentos %}

    <li>
        <span class="div-nombre-departamento">
            <a  href="@ruta@dep.idDepartamento" class="txt-nombre-departamento nav-link" >
                    {{dep.nombreDepartamento}}
            </a>


            {% if dep.departamentoMarcas|length >0 or dep.departamentosLineas|length >0 %}
                <i class="fa-solid fa-circle-arrow-right icon-arrow-right "></i>
            {% endif %}
        </span>

         {% if dep.departamentoMarcas|length > 0 or dep.departamentosLineas|length > 0 %}
            <ul class="submenu dropdown-menu div-flotante-dep shadow">

                <section class="section-principal">
                   {% if dep.departamentosLineas|length > 0 %}
                        <section class="section-inter">
                            <div class="div-categoria">
                                <div class="div-nombre-categoria">
                                        <h5>Lineas</h5>
                                </div>
                                <div class="dropdown-divider"></div>
                            </div>



                            {% set contador ={'value': 0} %}


                            {#@foreach (getsetDepartamentoLinea linea in dep.departamentosLineas)#}
                            {% for linea in dep.departamentosLineas %}

                                {% if(contador.value==0) %}
                                    <div class="div-dep">
                                {% endif %}

                                <div class="div-texto">
                                    <a class="letra-opciones-item nav-link" asp-area="" href="Productos?tipo={{linea.tipoEncritado}}&&numeroPagina=$1&&productosPag={{sNum}}&&idDepartamento={{dep.idDepartamento}}&&idLinea={{linea.idLinea}}">
                                        <i class="fa-solid fa-circle icon-punto"></i>
                                        {{linea.nombre}}
                                    </a>
                                </div>

                               {% if contador.update({'value': (contador.value + 1)}) %} {% endif %}

                                {% if(contador.value==3)%}
                                     </div>
                                     {% if contador.update({'value': 0}) %} {% endif %}
                                {% endif %}
                            {% endfor %}

                        </section>
                    {% endif %}

                   {# @if (dep.departamentoMarcas.Count > 0)#}
                    {% if dep.departamentoMarcas|length > 0 %}
                        <section class="section-inter">
                            <div class="div-categoria">
                                <div class="div-nombre-categoria">
                                        <h5>Marcas</h5>
                                </div>
                                    <div class="dropdown-divider"></div>
                            </div>
                            {% if(contador.value != 0)%}
                                {% set contador ={'value':0} %}
                            {% endif %}

                            {#@foreach (getsetDepartamentoMarca depa in dep.departamentoMarcas)#}
                            {% for depa in dep.departamentoMarcas %}

                                {% if(contador.value == 0) %}
                                    <div class="div-dep">
                                {% endif %}

                                <div class="div-texto">
                                    <a class="letra-opciones-item nav-link" href="Productos?tipo={{depa.tipoEncritado}}&&numeroPagina=$1&&productosPag={{sNum}}&&idDepartamento={{dep.idDepartamento}}&&idMarca={{depa.idMarca}}">
                                        <i class="fa-solid fa-circle icon-punto"></i>
                                        {{depa.nombre}}
                                    </a>
                                </div>

                                {% if contador.update({'value': (contador.value + 1)}) %} {% endif %}
                                {% if(contador.value== 3) %}
                                   </div>
                                    {% if contador.update({'value': 0}) %} {% endif %}
                                {% endif %}

                            {% endfor %}

                        </section>
                   {% endif %}
                </section>

            </ul>

        {% endif %}


    </li>
{% endfor %}

{% endmacro %}