{% macro subMenuFlotante() %}


{#@foreach (getsetDepartamento dep in departamentos)#}
{% for x in range(4) %}
    <li>
        <span class="div-nombre-departamento">
            <a  href="@ruta@dep.idDepartamento" class="txt-nombre-departamento nav-link" >
                    {#@dep.nombreDepartamento#} Departamento {{x}}
            </a>


            {#@if(dep.departamentoMarcas.Count>0 || dep.departamentosLineas.Count>0)#}
            {% if(true) %}
                <i class="fa-solid fa-circle-arrow-right icon-arrow-right "></i>
            {% endif %}
        </span>

         {#@if (dep.departamentoMarcas.Count > 0 || dep.departamentosLineas.Count > 0)#}
        {% if(true) %}
            <ul class="submenu dropdown-menu div-flotante-dep shadow">

                <section class="section-principal">
                   {# @if (dep.departamentosLineas.Count > 0)#}
                    {% if(true) %}
                        <section class="section-inter">
                            <div class="div-categoria">
                                <div class="div-nombre-categoria">
                                        <h5>Lineas</h5>
                                </div>
                                <div class="dropdown-divider"></div>
                            </div>



                            {% set contador ={'value': 0} %}


                            {#@foreach (getsetDepartamentoLinea linea in dep.departamentosLineas)#}
                            {% for x in range(6) %}

                                {% if(contador.value==0) %}
                                    <div class="div-dep">
                                {% endif %}

                                <div class="div-texto">
                                    <a class="letra-opciones-item nav-link" asp-area="" asp-controller="Inicio" asp-action="Productos" asp-route-tipo="@linea.tipoEncritado" asp-route-numeroPagina="$1" asp-route-productosPag="@sNum" asp-route-idDepartamento="@dep.idDepartamento" asp-route-idLinea="@linea.idLinea">
                                        <i class="fa-solid fa-circle icon-punto"></i>
                                        linea nombre {{x}}
                                    </a>
                                </div>

                               {% if contador.update({'value': (contador.value + 1)}) %} {% endif %}

                                {% if(contador.value==3)%}
                                     </div>
                                     {% if contador.update({'value': 0}) %} {% endif %}
                                {% endif %}
                            {% endfor %}

                        </section>
                    {% endif %}

                   {# @if (dep.departamentoMarcas.Count > 0)#}
                    {% if(true) %}
                        <section class="section-inter">
                            <div class="div-categoria">
                                <div class="div-nombre-categoria">
                                        <h5>Marcas</h5>
                                </div>
                                    <div class="dropdown-divider"></div>
                            </div>
                            {% if(contador.value != 0)%}
                                {% set contador ={'value':0} %}
                            {% endif %}
                            {#@foreach (getsetDepartamentoMarca depa in dep.departamentoMarcas)#}
                            {% for x in range(4) %}

                                {% if(contador.value == 0) %}
                                    <div class="div-dep">
                                {% endif %}

                                <div class="div-texto">
                                    <a class="letra-opciones-item nav-link" asp-area="" asp-controller="Inicio" asp-action="Productos" asp-route-tipo="@depa.tipoEncritado" asp-route-numeroPagina="$1" asp-route-productosPag="@sNum" asp-route-idDepartamento="@dep.idDepartamento" asp-route-idMarca="@depa.idMarca">
                                        <i class="fa-solid fa-circle icon-punto"></i>
                                        Marca {{x}}
                                    </a>
                                </div>

                                {% if contador.update({'value': (contador.value + 1)}) %} {% endif %}
                                {% if(contador.value== 3) %}
                                   </div>
                                    {% if contador.update({'value': 0}) %} {% endif %}
                                {% endif %}

                            {% endfor %}

                        </section>
                   {% endif %}
                </section>

            </ul>

        {% endif %}


    </li>
{% endfor %}

{% endmacro %}