{% macro totalesCarrito(totalCarrito) %}

{% if(totalCarrito.fuentePequena) %}
    {% set  fuente = "font-size: 0.75rem;" %}
{%else%}
    {% set  fuente = "font-size: 1.25rem;" %}
{% endif %}

<table class="table blockquote text-center">
    {# @if (totalCarrito.descuento>0)#}
    {% if totalCarrito.descuento > 0 %}
        <tr>
            <th class="text-end" style="{{fuente}}">Subtotal sin descuento:</th>
            <td class="col-4" style="{{fuente}}">${{totalCarrito.subtotalSinDescuento}}</td>
        </tr>
        <tr>
            <th class="text-end" style="{{fuente}}">Descuento(s):</th>
            <td class="col-4" style="{{fuente}}">${{totalCarrito.descuento}}</td>
        </tr>
    {% endif %}
    <tr>
        <th class="text-end" style="{{fuente}}">SubTotal:</th>
        <td class="col-4" style="{{fuente}}">${{totalCarrito.subtotal}}</td>
    </tr>
    {#@if (!totalCarrito.enviarDomicilio)#}
    {% if not totalCarrito.enviarDomicilio %}
        <tr>
            <th class="text-end" style="{{fuente}}">Entrega:</th>
            <td class="col-4" style="{{fuente}}">Entrega en tienda</td>
        </tr>

    {%else%}

        <tr>
            <th class="text-end" style="{{fuente}}">Costo envio:</th>
            <td class="col-4" style="{{fuente}}">${{totalCarrito.envio}}</td>
        </tr>
    {% endif %}
    {#@if (totalCarrito.comision > 0)#}
    {% if totalCarrito.comision > 0 %}
        <tr>
            <th class="text-end" style="{{fuente}}">Comision:</th>
            <td class="col-4" style="{{fuente}}">${{totalCarrito.comision}}</td>
        </tr>
    {% endif %}
    <tr>
        <th class="text-end" style="{{fuente}}">Total:</th>
        <td class="col-4" style="{{fuente}}">${{totalCarrito.total}}</td>
    </tr>
    {#@if (totalCarrito.totalSurtido>=0 && totalCarrito.mostrarTotalSurtido && totalCarrito.total!=totalCarrito.totalSurtido)#}
    {% if(totalCarrito.totalSurtido>=0 and totalCarrito.mostrarTotalSurtido and totalCarrito.total!=totalCarrito.totalSurtido) %}
        <tr>
            <th class="text-end" style="{{fuente}}">Total surtido:</th>
            <td class="col-4" style="{{fuente}}">${{totalCarrito.totalSurtido}}</td>
        </tr>
    {% endif %}

</table>

{% endmacro %}